@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";
@import "material-dashboard/general";

.v-menu__content {
    border-radius: 2px;
}

.v-input--selection-controls, .v-input__slot {
    padding: 0!important;
    margin: 0!important;

    label {
        font-size: 13px;
    }
}

.v-text-field {
    padding-top: 5px!important;
}

.v-date-picker-table--date {
    .v-btn {
        width: 20px!important;
        padding: 10px!important;
    }
} 

.v-input__control {
    width: 100%;
}

.v-input--radio-group__input {
    display: flex!important;
    flex-direction: row;
}

.v-progress-linear {
    height: 2px!important;
}

.d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }